.center {
    margin-left: auto!important;
    margin-right: auto!important;
    text-align: center!important;
}

.count-input {
    float: right;
    margin-top: 0.7em;
}

.count-input .input-number {
    text-align: center;
    width: 5em;
}

.amount-article-form .btn{
    font-weight: 900;
    color: white;
    font-size: 1.5em;
    line-height: 1em;
    width: 2em;
}

div.card.mb-3 {
    max-width: 31%;
    margin: 0.5rem;
}

div.card.mb-3 img.big {
    width: 100%;
    display: block;
}

div.card.mb-3 img.small {
    height: 4em;
    float: left;
}

.co-img {
    height: 2em
}

.co-btn {
    position: fixed;
    top: 1em;
    right: 1em;
}

.co-btn-img {
    margin-right: 0.5em;
    filter: invert(100%);
    height: 1em;
}

.buy-more-btn {
    float: right
}

.buy-more-btn-img {
    margin-right: 0.5em;
    filter: invert(100%);
    height: 1em;
}